<div class="container-fluid text-capitalize container-fluid-padding bg-secondary bg-opacity-10">
  <h3 class="h1 fw-normal">get the fresh cart app</h3>
  <h4 class="text-muted fw-light mb-4">
    we will send you a link, open it on phone to download
  </h4>
  <form>
    <div class="form-group position-relative px-4">
      <input type="email" placeholder="Email" id="email" class="w-100 py-2 py-md-3 px-5 rounded-pill">
      <button class="btn text-white fw-normal bg-main rounded-pill fw-light position-absolute end-0 top-0 bottom-0">Share App Link</button>
    </div>
  </form>
  <div class="py-5 payment">
    <div class="row gy-4 ">
      <div class=" col-md-5">
        <div class="row gy-2 align-items-center justify-content-start">
            <p class="col-sm-3 fw-medium m-0">Payment Partners: </p>
            <div class="col-sm-6 col-6 d-flex align-items-center">
              <img class="img curser-poiner" src="assets/footer assets/amazonPay.png" alt="">
              <img class="img curser-poiner" src="assets/footer assets/visa.png" alt="">
              <img class="img curser-poiner" src="assets/footer assets/payPal.png" alt="">
              <img class="img curser-poiner" src="assets/footer assets/master card.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-md-3">
        <div class="row align-items-center justify-content-center">
          <div class="col-sm-6">
            <p class=" fw-medium m-0">Get Deliveries With Fresh Cart:</p>
          </div>
          <div class="col-sm-6 d-flex">
            <img class="storesImg curser-poiner" src="../../assets/footer assets/app-store-and-google-play.png" alt="">
            <img class="storesImg curser-poiner" src="assets/footer assets/google-play.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>