<nav class=" fixed-top bg-white shadow-sm shadow">
  <div class="container-fluid px-md-5 py-0 px-lg-5 position-relative">
    <div class="categories d-flex align-items-center">
      <div class="logo me-4">
        <a href="/"><img src="../../assets/logo.svg" alt=""></a>
      </div>
      <div class="drop-down d-flex flex-grow-1 justify-content-end">
        <button (click)="dropDownNav()" class="btn bg-main px-2 py-1 d-flex justify-content-center align-items-center"><i class="fa-solid fa-bars text-white fs-4"></i></button>
      </div>
      <div class="flex-grow-1 navigation"[class]="navToggle ? 'visible opacity top' : '' ">
        <ul class=" nav navbar routers gap-3 py-0 main-nav"  *ngIf="isLoggedIn">
          <li class=" curser-poiner nav-item position-relative p-3" routerLink="home" routerLinkActive="bar"><span class="topBar "></span><a class=" w-100 h-100 d-block text-color text-decoration-none">Home</a><span class="bottomBar "></span></li>
          <li class=" curser-poiner nav-item position-relative p-3" routerLink="cart" routerLinkActive="bar"><span class="topBar "></span><a class=" w-100 h-100 d-block text-color text-decoration-none">Cart</a><span class="bottomBar "></span></li>
          <li class=" curser-poiner nav-item position-relative p-3" routerLink="products" routerLinkActive="bar"><span class="topBar "></span><a class=" w-100 h-100 d-block text-color text-decoration-none">Products</a><span class="bottomBar "></span></li>
          <li class=" curser-poiner nav-item position-relative p-3" routerLink="categories" routerLinkActive="bar"><span class="topBar "></span><a class=" w-100 h-100 d-block text-color text-decoration-none">Categories</a><span class="bottomBar "></span></li>
          <li class=" curser-poiner nav-item position-relative p-3" routerLink="brands" routerLinkActive="bar"><span class="topBar "></span><a class=" w-100 h-100 d-block text-color text-decoration-none">Brands</a><span class="bottomBar "></span></li>
          <li class=" curser-poiner nav-item position-relative p-3" routerLink="setting" routerLinkActive="bar"><span class="topBar "></span><a class=" w-100 h-100 d-block text-color text-decoration-none">setting</a><span class="bottomBar "></span></li>
        </ul>
        <ul class="nav navbar signing flex-grow-1 justify-content-end gap-3" >
          <ul class=" nav navbar gap-2 justify-content-end">
            <li class=" curser-poiner nav-item"><i class="fa-brands fa-instagram"></i></li>
            <li class=" curser-poiner nav-item"><i class="fa-brands fa-facebook"></i></li>
            <li class=" curser-poiner nav-item"><i class="fa-brands fa-twitter"></i></li>
            <li class=" curser-poiner nav-item"><i class="fa-brands fa-linkedin-in"></i></li>
            <li class=" curser-poiner nav-item"><i class="fa-brands fa-twitter"></i></li>
          </ul>
          <ul class="nav navbar gap-2 justify-content-end">
            <li class=" curser-poiner nav-item " routerLink="login" *ngIf="!isLoggedIn"><a>Log-in</a></li>
            <li class=" curser-poiner nav-item " routerLink="signup" *ngIf="!isLoggedIn"><a>Sign-up</a></li>
            <li class=" curser-poiner nav-item " routerLink="login" (click)="logOut()" *ngIf="isLoggedIn"><a>Log-out</a></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</nav>