<div class="container">
  <div class="pt-5">
    <div class="alert alert-danger py-2 px-3" *ngIf="alreadyExist">
      {{alreadyExist}}
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
      <div class="form-group mb-3">
        <label class="mb-2" for="name">Name</label>
        <input type="text" formControlName="name" name="name" placeholder="User Name" id="name" class=" form-control mb-2">
        <div class="alert alert-danger py-2 px-3" *ngIf="registerForm.get('name')?.errors && (registerForm.get('name')?.touched || isInvalid)">
          <p class="m-0" *ngIf="registerForm.get('name')?.getError('required')">Your name is required</p>
          <p class="m-0" *ngIf="registerForm.get('name')?.getError('minlength')">Must be more than 3 characters</p>
          <p class="m-0" *ngIf="registerForm.get('name')?.getError('maxlength')">Must be less than 12 characters</p>
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="mb-2" for="email">Email</label>
        <input type="email" formControlName="email" name="email" placeholder="User Email" id="email" class=" form-control mb-2">
        <div class="alert alert-danger py-2 px-3" *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.touched || isInvalid)">
          <p class="m-0" *ngIf="registerForm.get('email')?.getError('required')">Your email is required</p>
          <p class="m-0" *ngIf="registerForm.get('email')?.getError('email')">Incorrect email</p>
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="mb-2" for="password">Password</label>
        <input type="password" formControlName="password" name="password" placeholder="User Password" id="password" class=" form-control mb-3">
        <div class="alert alert-danger py-2 px-3" *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.touched || isInvalid)">
          <p class="m-0" *ngIf="registerForm.get('password')?.getError('required')">Your password is required</p>
          <p class="m-0" *ngIf="registerForm.get('password')?.getError('pattern')">The pattern is wrong</p>
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="mb-2" for="rePassword">rePassword</label>
        <input type="password" formControlName="rePassword" name="rePassword" placeholder="rePassword" id="rePassword" class=" form-control mb-2">
        <div class="alert alert-danger py-2 px-3" *ngIf="registerForm.get('rePassword')?.errors && (registerForm.get('rePassword')?.touched || isInvalid)">
          <p class="m-0" *ngIf="registerForm.get('rePassword')?.getError('required')">Your confirm password is required</p>
          <p class="m-0" *ngIf="registerForm.get('rePassword')?.getError('pattern')">Dosen't match the password</p>
        </div>
      </div>
      <div class="form-group mb-4">
        <label class="mb-2" for="Phone">Phone</label>
        <input type="tel" formControlName="phone" name="Phone" placeholder="Phone" id="Phone" class=" form-control">
        <div class="alert alert-danger py-2 px-3" *ngIf="registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || isInvalid)">
          <p class="m-0" *ngIf="registerForm.get('phone')?.getError('required')">Your password is required</p>
          <p class="m-0" *ngIf="registerForm.get('phone')?.getError('minlength')">Your phone must be more than 10 numbers</p>
          <p class="m-0" *ngIf="registerForm.get('phone')?.getError('maxlength')">Your phone must be less than 12 numbers</p>
        </div>
      </div>
      <button class="d-block ms-auto btn btn-primary">
        <i *ngIf="loader" class="fa fa-spinner fa-spin"></i>
        <span *ngIf="!loader">Register</span>
      </button>
    </form>
  </div>
</div>